'.platform-darwin atom-workspace':
  'cmd-shift-t': 'terminus:new'
  'cmd-shift-j': 'terminus:prev'
  'cmd-shift-k': 'terminus:next'
  'cmd-shift-x': 'terminus:close'
  'cmd-alt-f': 'terminus:focus'
  'ctrl-`': 'terminus:toggle'
  'ctrl-i': 'terminus:insert-selected-text'
  'cmd-shift-i': 'terminus:insert-text'

'.platform-linux atom-workspace, .platform-win32 atom-workspace':
  'alt-shift-t': 'terminus:new'
  'alt-shift-j': 'terminus:prev'
  'alt-shift-k': 'terminus:next'
  'alt-shift-x': 'terminus:close'
  'ctrl-`': 'terminus:toggle'
  'ctrl-alt-f': 'terminus:focus'
  'ctrl-i': 'terminus:insert-selected-text'
  'alt-shift-i': 'terminus:insert-text'

'.platform-darwin .terminus .terminal':
  'cmd-c': 'terminus:copy'
  'cmd-v': 'terminus:paste'

'.platform-linux .terminus .terminal, .platform-win32 .terminus .terminal':
  'alt-v': 'terminus:paste'
  'alt-c': 'terminus:copy'
